<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>EDIT</title>
	<style>
    html {
    background-color: beige;
    }
    body {
      max-width: 70ch;
      padding: 2ch;
      margin: auto;
    }
    textarea {
      font-size: 1pc;
      resize: none;
      white-space: pre;
    }
	</style>
</head>
<body>
  <h1></h1>
  <h2>Editing {{.Title}}</h2>
  <form action="/save/{{.Title}}" method="POST">
    <div><pre><textarea name="body" rows="20" cols="45">{{printf "%s" .Body}}</textarea></pre></div>
    <div><input type="submit" value="Save"></div>
  </form>
</body>
</html>